<nav id="header"
     class="navbar navbar-default navbar-fixed-top navbar-text pull-right ">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="widget-list.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="">Widget Edit</a>
            <p class="navbar-text pull-right">
                <a href="widget-list.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <form>
        <div>
            <fieldset class="form-group">
                <label for="widgetName">Name</label>
                <input type="text"
                       class="form-control"
                       id="widgetName"
                       placeholder="Name">
            </fieldset>
        </div>
        <div>
            <fieldset class="form-group">
                <label for="widgetText">Text</label>
                <input type="text"
                       class="form-control"
                       id="widgetText"
                       placeholder="text"
                       value="US Senate Reaches Compromise on Emergency">
            </fieldset>
        </div><div>
        <fieldset class="form-group">
            <label for="widgetSize">Size</label>
            <select class="form-control"
                    id="widgetSize"
                    required>
                <option value="0">Select Size</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </fieldset>
    </div>

    </form>
    <a class="btn btn-danger btn-block"
       href="widget-list.view.client.html">Delete</a>
</div>
<nav id="footer"
     class="navbar navbar-default navbar-fixed-bottom navbar-text pull-right ">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="../user-pages/profile.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-user blue"></span>
                </a>
            </p>
        </div>
    </div>
</nav>