<nav id="header" class="navbar navbar-default navbar-fixed-top navbar-text pull-right ">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="../page-pages/page-list.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="">Widgets</a>
            <p class="navbar-text pull-right">
                <a href="widget-chooser.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div ng-repeat="widgets in model.widgets" ng-switch="widget.widgetType">
    <ul id="noBullets">
        <li>
            <div>
                <p class="pull-right overlayTopRight">
                    <a href="widget-heading.view.client.html">
                        <span class="glyphicon glyphicon-cog blue"></span>
                    </a>
                    <a href="">
                        <span class="glyphicon glyphicon-align-justify black"></span>
                    </a>
                </p>
                <div ng-switch-when="HEADER" class="widgets">
                    <div ng-switch="widget.size">
                        <h1 ng-switch-when="1">{{widget.text}}</h1>
                        <h2 ng-switch-when="1">{{widget.text}}</h2>
                        <h3 ng-switch-when="1">{{widget.text}}</h3>
                        <h4 ng-switch-when="1">{{widget.text}}</h4>
                        <h5 ng-switch-when="1">{{widget.text}}</h5>
                        <h6 ng-switch-when="1">{{widget.text}}</h6>
                    </div>
                </div>
                <div ng-switch-when="IMAGE" class="widgets">
                    <img ng-src="{{widget.url}}"
                         width="{{widget.width}}">
                </div>
                <div ng-switch-when="YOUTUBE" class="widgets">
                    <iframe width="{{widget.width}}"
                            height="auto"
                            ng-src="{{model.getTrustedUrl(widget}}"
                            frameborder="0"
                            allowfullscreen></iframe>
                </div>
                <div ng-switch-when="HTML" class="widgets" ng-blind-html="model.getTrustedHtml(widget)"></div>
                <div ng-switch-default>{{widget}}</div>
            </div>
        </li>
    </ul>
</div>
<nav id="footer" class="navbar navbar-default navbar-fixed-bottom navbar-text pull-right">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-left">
                <a href="" class="navbar-link">
                    <span class="glyphicon glyphicon-share-play"></span>
                </a>
            </p>
            <p class="navbar-text pull-left">
                <a href="" class="navbar-link">
                    <span class="glyphicon glyphicon-share-eye-open"></span>
                </a>
            </p>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user blue"></span>
                </a>
            </p>
        </div>
    </div>
</nav>