<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Edit Website
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
                   ng-click="model.updateWidget"
                   class="navbar-link">
                  <span class="glyphicon glyphicon-ok">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <div ng-repeat="widget in widgets">
        <div ng-switch-when="HEADING">
            <div ng-include src="'widget-heading.view.client.html'"></div>
        </div>
        <div ng-switch-when="IMAGE">
            <div ng-include src="'image.view.client.html'"></div>
        </div>
        <div ng-switch-when="YOUTUBE">
            <div ng-include src="'widget-youtube.view.client.html'"></div>
        </div>
    </div>
</div>
<nav id="footer" class="navbar navbar-default navbar-fixed-bottom navbar-text pull-right">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-left">
                <a href="" class="navbar-link">
                    <span class="glyphicon glyphicon-share-play"></span>
                </a>
            </p>
            <p class="navbar-text pull-left">
                <a href="" class="navbar-link">
                    <span class="glyphicon glyphicon-share-eye-open"></span>
                </a>
            </p>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user blue"></span>
                </a>
            </p>
        </div>
    </div>
</nav>