<nav id="header"
     class="navbar navbar-default navbar-fixed-top navbar-text pull-right ">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="../views/website-pages/website-list.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="">Pages</a>
            <p class="navbar-text pull-right">
                <a href="page-new.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <ul class="list-group">
        <li ng-repeat="page in model.pages" class="list-group-item">
            <a href="#/user/">Blog Post</a>
            <a href="page-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog blue"></span>
            </a>
        </li>

        <ul class="list-group">
            <li ng-repeat="website in model.websites" class="list-group-item">
                <a href="#/user/{{website.developerId}}/website/{{website._id}}/page">{{website.name}}</a>
                <a href="" class="pull-right">
                    <span class="glyphicon glyphicon-play blue"></span>
                </a>
                <a href="#/user/{{website.developerId}}/website/:{{website._id}}" class="pull-right">
                    <span class="glyphicon glyphicon-pencil blue"></span>
                </a>
            </li>
        </ul>

    </ul>
</div>
<nav id="footer"
     class="navbar navbar-default navbar-fixed-bottom navbar-text pull-right ">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user blue"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
