<nav id="header"
     class="navbar navbar-default navbar-fixed-top navbar-text pull-right ">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="../views/website-pages/website-list.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="">Pages</a>
            <p class="navbar-text pull-right">
                <a href="page-new.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="../views/widget-pages/widget-list.html">Blog Post</a>
            <a href="page-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog blue"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../views/widget-pages/widget-list.html">Blogs</a>
            <a href="page-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog blue"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../views/widget-pages/widget-list.html">Home</a>
            <a href="page-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog blue"></span>
            </a>
        </li><li class="list-group-item">
            <a href="../views/widget-pages/widget-list.html">About</a>
            <a href="page-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog blue"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../views/widget-pages/widget-list.html">Contact Us</a>
            <a href="page-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog blue"></span>
            </a>
        </li>
    </ul>
</div>
<nav id="footer"
     class="navbar navbar-default navbar-fixed-bottom navbar-text pull-right ">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="../views/user-pages/profile.html" class="navbar-link">
                    <span class="glyphicon glyphicon-user blue"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
