input {
    margin-bottom: 5px;
}

.btn-primary {
    background-color: cornflowerblue;
}

.btn {
    border-radius: 5px;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.navbar-text.pull-right {
    margin-right: 15px;
}

.navbar-text.pull-left {
    margin-left: 15px;
}

#header {
    margin-top: 0px;
}

#footer {
    margin-bottom: 0px;
}

.blue {
    color: dodgerblue;
}

.black {
    color: black;
}