input {
    margin-bottom: 5px;
}

.btn-primary {
    background-color: cornflowerblue;
}

.btn {
    border-radius: 5px;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.navbar-text.pull-right {
    margin-right: 15px;
}

.navbar-text.pull-left {
    margin-left: 15px;
}

#header {
    margin-top: 0px;
    width: 100%;
}

#footer {
    margin-bottom: 0px;
    width: 100%;
}

.blue {
    color: dodgerblue;
}

.black {
    color: black;
}

#noBullets {
    list-style: none;
    margin-left: -40px;
}

.overlayTopRight {
    position: absolute;
    z-index: 10;
    right: 15px;
    display: block;
    padding-left: 4px;
    padding-right: 2px;
    padding-bottom: 1px;
    border-bottom-left-radius: 5px;
    background-color: white;
}