<nav id="header"
     class="navbar navbar-default navbar-fixed-top navbar-text.pull-right">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">Profile</a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updatedUser(model.user)" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">

    <div ng-show="model.success" class="alert alert-success alert-dismissible" role="alert">
        <button type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Success!</strong> Your profile was saved.
    </div>

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <form>
        <div>
            <fieldset class="form-group">
                <label for="username">Username</label>
                <input ng-model="model.user.username"
                       type="text"
                       class="form-control"
                       id="username"
                       placeholder="kelseeng">
            </fieldset>
        </div>
        <div>
            <fieldset class="form-group">
                <label for="email">Email address</label>
                <input ng-model="model.user.email"
                       type="email"
                       class="form-control"
                       id="email"
                       placeholder="kelseeng@gmail.com">
            </fieldset>
        </div>
        <div>
            <fieldset class="form-group">
                <label for="first">First Name</label>
                <input ng-model="model.user.firstName"
                       type="text"
                       class="form-control"
                       id="first"
                       placeholder="Kelsey">
            </fieldset>
        </div>
        <div>
            <fieldset class="form-group">
                <label for="last">Last Name</label>
                <input ng-model="model.user.lastName"
                       type="text"
                       class="form-control"
                       id="last"
                       placeholder="Eng">
            </fieldset>
        </div>
    </form>
    <a class="btn btn-primary btn-block"
       href="#/user/{{model.user._id}}/website">Websites</a>
    <a class="btn btn-danger btn-block"
       href="#/login">Logout</a>
    <a ng-click="model.unregister()" class="btn btn-danger btn-block">Unregister</a>
</div>
<nav id="footer"
     class="navbar navbar-default navbar-fixed-bottom navbar-text pull-right ">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.user._id}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user blue"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
